/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LAYER1   1
#define LAYER2   2
#define LAYER3   3
#define LAYER4   4

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <23>;
            tapping-term-ms = <200>;
            bindings = <&kp C>, <&kp LG(C)>;
        };
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <24>;
            tapping-term-ms = <200>;
            bindings = <&kp V>, <&kp LG(V)>;
        };
    };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&td0 &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P 
                        &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SPACE 
                        &mt LSHIFT Z &lt LAYER4 X &td1 &lt LAYER1 V &lt LAYER2 B &lt LAYER3 N &kp M &kp LGUI &kp BSPC &mt RSHIFT ENTER
                        >;
        };

    };
};
