/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LAYER1   1
#define LAYER2   2
#define LAYER3   3
#define LAYER4   4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P 
                        &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &mt LGUI SPACE
                        &mt LSHIFT Z &lt LAYER4 X &kp C &lt LAYER1 V &lt LAYER2 B &lt LAYER3 N &kp M &kp ESC &kp BSPC &mt RSHIFT ENTER
                        >;
        };

        first_layer {
            bindings = <&kp BANG &kp ATSN &kp HASH &kp DLLR &kp PRCT &kp CRRT &kp AMPS &kp KMLT &kp LPRN &kp RPRN 
                        &kp TILDE &none &none &none &none &kp MINUS &kp PLUS &kp LBRC &kp RBRC &kp PIPE 
                        &kp GRAVE &none &none &none &none &kp UNDER &kp EQUAL &kp LBKT &kp RBKT &kp BSLH 
                        >;
        };

        second_layer {
            bindings = <&kp BANG &kp ATSN &kp HASH &kp DLLR &kp PRCT &kp CRRT &kp AMPS &kp KMLT &kp LPRN &kp RPRN 
                        &none &none &none &none &none &kp LT &kp GT &kp QMARK &kp COLON &kp DQT 
                        &none &none &none &none &none &kp COMMA &kp DOT &kp FSLH &kp SEMI &kp SQT 
                        >;
        };
        
        third_layer {
            bindings = <&kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                        &none &none &none &none &none &none &kp LEFT &kp DOWN &kp UP &kp RIGHT
                        &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &none &none &none &kp RALT &kp RCTRL &kp RSHFT
                        >;
        };

        fourth_layer {
            bindings = <&bootloader &none &none &none &none &none &none &bt BT_NXT &none &kp C_MUTE
                        &none &none &none &none &none &none &none &bt BT_PRV &none &kp C_VOL_UP
                        &none &none &kp LC(C) &none &none &caps_word &none &bt BT_CLR &none &kp C_VOL_DN
                        >;
        };
    };
};
